./chatbot/mycode/qdrant_index
./chatbot/mycode/faiss_index
chatbot/mycode/.env
chatbot/mycode/faiss_index/index.pkl
chatbot/mycode/faiss_index/index.faiss
.env 
chatbot/backup/mark3_redesigned/mycode/.env
chatbot/class_chatbot/.env
chatbot/mycode/.env
chatbot/testing/__pycache__/utils.cpython-311.pyc
